<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>side bar</title>
</head>
<body>
    

    <!-- .................side bar................. -->
    {% block sidebar %}
    <style>
            .card{
                box-shadow: 0 16px 48px #E3E7EB;
            }
           
    </style>
    
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">About the blog</h5>
        <div class="card-body">
            <p class="card-text"> This awesome blog is made on the top of our first django blog Application you are welcome to enjoy great blog accross the world...Stay readable</p>
            <a href="#"class="btn btn-danger">Explore more</a> 
        </div>
    </div>
    </div>
    
    {% endblock sidebar %}
    
</body>
</html>